{% extends 'main_layout.html' %}
{% block title %} Person List {% endblock %}
{% block content %}
    <h2>Person List</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>COMMENTS</th>
            <th>ACTION</th>
        </tr>
        {% for person in persons %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.comments }}</td>
                <td>
                    <a href="/details/{{ person.id }}">View</a>
                    <a href="/update/{{ person.id }}">Update</a>
                    <a href="/delete/{{ person.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'add' %}">Add New</a>
{% endblock %}